
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.nav
{ 
font-family: "Mulish";

    display: flex;
    justify-content: flex-end;
   


}

.home
{
    color: orangered;
}
.explo h1
{
    text-align: center;
    margin-top: 95px;
    font-family: "Mulish";
font-size: xx-large;
font-size: 70px;
    
}
.explo p
{ margin-top: -20px;
    text-align: center;  
    font-family: "Mulish";
    padding-top: 10px;

}

.btn
{
    border: solid;
    width: 800px;
    margin-left: 160px;
     border-radius: 10px;
   
    padding: 10px;
background-color: rgb(168, 197, 250);

   
}
.button
{

    margin-left: 30px;
    
    
 
}
.btn input
{
    margin-left: 5px;
}

#ibtn
{
    padding: 10px;
   
    border-radius: 5px;
    font-family: "Mulish";
    background-color: aliceblue;
 
}
#fbtn
{
    padding: 10px;
 
    border-radius: 5px;
    font-family: "Mulish";
    background-color: aliceblue;
}
#sbtn
{
    padding: 10px;
  border-radius: 5px;
 
    font-family: "Mulish";
    background-color: aliceblue;
}
#lbtn
{

 height: 50px;
 padding-right: 50px;
  border-radius: 5px;
    font-family: "Mulish";
    color: antiquewhite;
   background-color: orangered;
 
}
 #lbtn i {
    padding-right: 20px ;
}
#sbtn i{
   
    padding-left: 50px;
   
}
#fbtn i{
   
    padding-left: 50px;
 
}
.img {
        background-image: url("./ophelie-authier-pnFNoPuilVI-unsplash.jpg");  /* Set the image URL */
      /* Resize image to cover the entire element */
        background-position: center;  /* Center the image horizontally and vertically */
     width: 1100px;
     height: 600px;
     margin-left: 100px;
     border-radius: 100px;
       margin-top: -40px;
      /* Required for positioning elements on top of the background image */
      
}
.img img {
    display: none;  /* Hide the actual image element since it's now a background */
  }

.explo
{
    padding-top: 100px;
    color:white;
 margin-top: 25px;
}
 
 